1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
BEGIN
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x409, 1200
 END
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904B0"
  BEGIN
   VALUE "ProductName", "Toggle Game Boy Color compatibility tool"
   VALUE "FileDescription", "Toggles GBC/SGB/GB-only compatibility modes."
   VALUE "OriginalFilename", "GBCompatEd.exe"
   VALUE "ProductVersion", "1.0.0.0"
   VALUE "FileVersion", "1.0.0.0"
   VALUE "CompanyName", "Zumi"
   VALUE "LegalCopyright", "idk"
  END
 END
END
